.Backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.Backdrop.entering {
    animation: openModalBackdrop 300ms linear;
}

.Backdrop.exiting {
    animation: closeModalBackdrop 300ms linear;
}

@keyframes openModalBackdrop {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes closeModalBackdrop {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
